@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap%27');

.basic {
    color: #05431A;
    font-family: 'Amiko', sans-serif;
}

body {
    background-color: #B1E6B9;
}

.backg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.cn1 {
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    align-self: stretch;
}


.cn2 {
    background-color: azure;
    display: flex;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.cn3 {
    background-color: antiquewhite;
    padding-top: 1em;
    display: flex;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.cn4 {
    background-color: #05431A;
    display: flex;
    order: 0;
    flex: 0 1 auto;
}
