@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap%27');

.basic {
    color: #05431A;
    font-family: 'Amiko', sans-serif;
}
 body {
    background-color: #B1E6B9;
    font-family: 'Amiko', sans-serif;
    height: 100vh;
    margin: 0
} 

.backg {
    /* background-color: chartreuse; */
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    margin: 0;
}

.cn1 {
    /* background-color: black; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 8.2vh;
    width: 95%;
    margin-top: 1em;    
}


.cn2 {
    /* background-color: azure; */
    display: flex;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    /* text-align: center; */
    justify-content: center;
}

.cn3 {
    /* background-color: antiquewhite; */
    display: flex;
    order: 0;
    flex-direction: column;
    flex: 0 1 auto;
    width: 100%;
    height: 58vh;
    justify-content: center;
    /* padding-top: 1em; */
}

.cn4 {
    /* background-color:cadetblue ; */
    display: flex;
    order: 0;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: 100%;
   
}

.cn5 {
    /* background-color: chocolate; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.cn6{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    width: 100%;
    height: 14vh;
    padding-top: 1em;
    /* margin-bottom: 1em; */
    
}

.tn1{
    /* background-color: cadetblue; */
    margin-bottom: 1em;
}
.tn2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.camera {
    display: flex;
   height: 100%;
    width: 95%;
    margin: 5%;
    border-radius: 25px;
}

.seg {
    position:absolute;
    top: 100;
    width: 20%;
    height: 95%;
    align-items: center;
    background-color: #6B9060;
    flex-shrink: 0;
    border-radius: 25px;
    overflow-y: hidden;
}
.progressBar {
    overflow-y: hidden;
    flex-shrink: 0;
    position:absolute;
    top: 10;
    width: 20%;
    height: 0%;
    align-items: center;
    border-radius: 25px;
    background-color: white;
}
.progressText{
    overflow-y: hidden;
    display: flex;
    position:absolute;
    top: 50%;
    align-items: center;
    color: #B1E6B9;
    font-size: 20px;
    flex-shrink: 0;
}
.cnn2 {
    /* background-color: black; */ 
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    order: 0;
    flex: 0 1 auto;
    align-items: flex-end;
    /* margin-top: 1rem; */
    margin-left: 20px;
    flex-shrink: 0;
    overflow-y: hidden;
    justify-content: center;
}
.posi {
    /* background-color: black; */
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* padding-top: 1000px; */
    justify-content: space-around;
    align-items: center;
    
}

.pc1{
    display: flex;
    align-items: center;
}
.pc2{
    /* background-color: black; */
    display: flex;
    width: 100%;
    margin-bottom: 1em
    
}