@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap%27');

.basic {
    color: #05431A;
    font-family: 'Amiko', sans-serif;
}
 body {
    background-color: #B1E6B9;

    font-family: 'Amiko', sans-serif;
    height: 100%;
    margin: 0
} 

.backg {
    /* background-color: chartreuse; */
    display: flex;
    /* position: absolute; */
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    margin: 0;
}

.cn1 {
    /* background-color: black; */
    display: flex;
    
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 95%;
    margin-top: 1em;    
}
.gap {
    position: absolute;
    left: 82vw;

}
.recycleImg{
    width: 30px;
    height: 30px;
}
.cn2 {
    /* background-color: azure; */
    display: flex;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    /* text-align: center; */
    justify-content: center;
}

.cn3 {
    /* background-color: antiquewhite; */
    display: flex;
    order: 0;
    flex-direction: column;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* padding-top: 1em; */
}

.cn4 {
   
    /* background-color:cadetblue ; */
    display: flex;
    order: 0;
    /* padding-top: 1em; */
    justify-content: center;
    align-items: center;
     margin-top: 2rem;
    margin-bottom: 1rem; 
    height: 100%;
    width: 100%;
   
}

.cn5 {
    /* background-color: chocolate; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.textCarl{
    font-size: 100px;
}
.cn6{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    /* padding-top: 1em; */
    /* margin-bottom: 1em; */
    
}
.cn7{
    /* background-color: black; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.tn1{
    /* background-color: cadetblue; */
    margin-bottom: 1em;
}
.tn2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.basicCarl {
    color: #05431A;
    font-family: 'Amiko', sans-serif;
    text-align: justify;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.seg {
    position:absolute;
    top: 100;
    width: 20%;
    height: 95%;
    align-items: center;
    background-color: #6B9060;
    flex-shrink: 0;
    border-radius: 25px;
    overflow-y: hidden;
}
.progressBar {
    overflow-y: hidden;
    flex-shrink: 0;
    position:absolute;
    top: 10;
    width: 20%;
    height: 0%;
    align-items: center;
    border-radius: 25px;
    background-color: white;
}
.progressText{
    overflow-y: hidden;
    display: flex;
    position:absolute;
    top: 50%;
    align-items: center;
    color: #B1E6B9;
    font-size: 20px;
    flex-shrink: 0;
}
.cnn2 {
    /* background-color: black; */ 
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    order: 0;
    flex: 0 1 auto;
    align-items: flex-end;
    /* margin-top: 1rem; */
    margin-left: 20px;
    flex-shrink: 0;
    overflow-y: hidden;
    justify-content: center;
}

.posi {
    /* background-color: black; */
    /* position: absolute; */
    overflow-x: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: hidden;
    /* padding-top: 1000px; */
    justify-content: space-around;
    align-items: center;
    
}
.camera {
    display: flex;
   height: 79vh;
    width: 95vw;
    margin: 5%;
    /* border-radius: 25px; */

}
.pc1{
    display: flex;
    align-items: center;
}
.pc2{
    /* background-color: white; */
    overflow-x: hidden;
    display: flex;
    align-self: flex-end;
    align-items: center;
    width: 100%;
    /* margin-bottom: 1em */
    
}

.main{
    /* background-color: palevioletred; */
    display: flex;
    height: 34.7vh;
    width: 100%;
    flex-direction: column;

}

.mainX {
    /* background: rgb(220,238,174); */
    background: linear-gradient(65deg, rgb(220, 238, 175) 0%, rgba(181, 218, 192, 1) 100%);
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.inner {
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'Amiko', sans-serif;
    padding-top: 20px;
}

div>button {
    width: 150px;
    background:transparent;
    font-family: 'Amiko';
    font-size: 20px;
    font-weight:inherit;
    border-radius: 30px;
    border-color:rgb(137, 189, 35);
    margin: 15px;
    color: #05431A;
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: bolder;
}

.imgLogin {
    width: 150px;
    height: 150px;
    margin-top: 25%;
    margin-left: 30%;
}
.textf{
    margin-top:6%;
}
.error{
    color: red;
    font-family: inherit;
    font-size: smaller;
}
.validationpara{
 padding:15%;
 font-family: 'Amiko';
 font-size: 15px;
 color:#05431A;
 font-weight: 200;
 text-align: justify;
}
.validbutton{
    padding-left: 5%;
}
.errVer {
margin-top: 10%;
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
}

.rewardImg{
    width:50px;
    height: 50px;
    flex: 1;
}
.rewardMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    overflow-y: scroll;
}
.rewardModal{
    background-color: #CCF5D2;
    display: flex;
    flex-direction: column;
    width: 95%;
    /* justify-content: start; */
    text-align: center;
    padding: 2vh;
    /* height: 82vh; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9vh;
    margin-bottom: 9vh;
    border-radius: 25px;
}
.rewardModel{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 15px;
}
.rewardMessage{
    text-align: center;
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Amiko';
    color: #05431A;
}
 .imgInactive{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
 }

 .iconsize {
     padding-top: 10px;
     height: 28px;
     width: 28px;
     filter: grayscale(100%);
 }
